/* ローカルのフォントを定義 */
@font-face {
  font-family: 'Kosugi';
  src: url('/fonts/Kosugi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Darumadrop One';
  src: url('/fonts/DarumadropOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* フォントを適用 */
body {
  font-family: 'Kosugi';
}

.font-Darumadrop {
  font-family: 'Darumadrop One', sans-serif;
}