/* ローカルのフォントを定義 */
@font-face {
  font-family: 'Zen Kurenaido';
  src: url('/fonts/ZenKurenaido-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* TailwindCSSのベース、コンポーネント、ユーティリティをインポート */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ベースレイヤーでフォントを適用 */
@layer base {
  html {
    font-family: 'Zen Kurenaido', Proxima Nova, system-ui, sans-serif;
  }
}